In [3]:
import pandas as pd

df = pd.read_csv("/Users/noor/Downloads/Energy Production Dataset.csv")

print("First 5 rows (Head):")
display(df.head())

print("\nLast 5 rows (Tail):")
display(df.tail())

print("\nColumn names:")
print(df.columns.tolist())

print("\nNumber of Rows and Columns:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

First 5 rows (Head):

,Date,Start_Hour,End_Hour,Source,Day_of_Year,Day_Name,Month_Name,Season,Production
0,11/30/2025,21,22,Wind,334,Sunday,November,Fall,5281
1,11/30/2025,18,19,Wind,334,Sunday,November,Fall,3824
2,11/30/2025,16,17,Wind,334,Sunday,November,Fall,3824
3,11/30/2025,23,0,Wind,334,Sunday,November,Fall,6120
4,11/30/2025,6,7,Wind,334,Sunday,November,Fall,4387

Last 5 rows (Tail):

,Date,Start_Hour,End_Hour,Source,Day_of_Year,Day_Name,Month_Name,Season,Production
51859,1/1/2020,4,5,Wind,1,Wednesday,January,Winter,2708
51860,1/1/2020,18,19,Wind,1,Wednesday,January,Winter,1077
51861,1/1/2020,7,8,Wind,1,Wednesday,January,Winter,2077
51862,1/1/2020,14,15,Solar,1,Wednesday,January,Winter,1783
51863,1/1/2020,13,14,Solar,1,Wednesday,January,Winter,2179

Column names:
['Date', 'Start_Hour', 'End_Hour', 'Source', 'Day_of_Year', 'Day_Name', 'Month_Name', 'Season', 'Production']

Number of Rows and Columns:
Rows: 51864, Columns: 9